PRACTICE-1
1. PySpark Dataframe
2. Reading Dataset
3. Checking the datatypes of the column
4. Selecting columns and indexing
5. Check describe option similar to pandas
6. Adding columns
7. Dropping columns

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 7.7 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 13.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=1d67cbb264203866663c022e1c3d993b4449f4e57ea265c02cba0cf52b4e3e7e
  Stored in directory: /Users/rachaita/Library/Caches/pip/wheels/b1/91/5f/283b53010a8016a4ff1c4a1edd99bbe73afacb099645b5471b
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pyspark
import warnings
warnings.filterwarnings('ignore')

In [3]:
from pyspark.sql import SparkSession

In [26]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [21]:
spark

In [33]:
df_pyspark = spark.read.csv("/Users/rachaita/Desktop/Python_Practice/CSV/test1.csv")

In [34]:
df_pyspark.show()

+--------+---+----------+------+
|     _c0|_c1|       _c2|   _c3|
+--------+---+----------+------+
|    Name|age|Experience|Salary|
|Rachaita| 31|        10| 30000|
|   Minal| 30|         8| 25000|
|    Mona| 29|         4| 20000|
|   Anshu| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
|    Sana| 23|         2| 18000|
+--------+---+----------+------+

In [38]:
## By default all column will have datatype as string
spark.read.option('header','true').csv("/Users/rachaita/Desktop/Python_Practice/CSV/test1.csv")

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [44]:
## To resolve the issue use inferSchema
spark.read.option('header','true').csv("/Users/rachaita/Desktop/Python_Practice/CSV/test1.csv",inferSchema = True)

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [42]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [43]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [46]:
## Another way to read dataset
df_pyspark = spark.read.csv("/Users/rachaita/Desktop/Python_Practice/CSV/test1.csv",header=True,inferSchema = True)

In [47]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Rachaita| 31|        10| 30000|
|   Minal| 30|         8| 25000|
|    Mona| 29|         4| 20000|
|   Anshu| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
|    Sana| 23|         2| 18000|
+--------+---+----------+------+

In [48]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [49]:
df_pyspark.head(3)

[Row(Name='Rachaita', age=31, Experience=10, Salary=30000),
 Row(Name='Minal', age=30, Experience=8, Salary=25000),
 Row(Name='Mona', age=29, Experience=4, Salary=20000)]

In [50]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [51]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|Rachaita|
|   Minal|
|    Mona|
|   Anshu|
|  Harsha|
|    Sana|
+--------+

In [52]:
df_pyspark.select(['Name','Experience'])

DataFrame[Name: string, Experience: int]

In [53]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|Rachaita|        10|
|   Minal|         8|
|    Mona|         4|
|   Anshu|         3|
|  Harsha|         1|
|    Sana|         2|
+--------+----------+

In [55]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [58]:
df_pyspark.describe().show()

24/07/01 18:08:39 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----+------------------+-----------------+------------------+
|summary| Name|               age|       Experience|            Salary|
+-------+-----+------------------+-----------------+------------------+
|  count|    6|                 6|                6|                 6|
|   mean| NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev| NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Anshu|                21|                1|             15000|
|    max| Sana|                31|               10|             30000|
+-------+-----+------------------+-----------------+------------------+

In [59]:
df_pyspark = df_pyspark.withColumn("Experience after 2yrs", df_pyspark["Experience"]+2)

In [60]:
df_pyspark.show()

+--------+---+----------+------+---------------------+
|    Name|age|Experience|Salary|Experience after 2yrs|
+--------+---+----------+------+---------------------+
|Rachaita| 31|        10| 30000|                   12|
|   Minal| 30|         8| 25000|                   10|
|    Mona| 29|         4| 20000|                    6|
|   Anshu| 24|         3| 20000|                    5|
|  Harsha| 21|         1| 15000|                    3|
|    Sana| 23|         2| 18000|                    4|
+--------+---+----------+------+---------------------+

In [62]:
df_pyspark = df_pyspark.drop("Experience after 2yrs")

In [63]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Rachaita| 31|        10| 30000|
|   Minal| 30|         8| 25000|
|    Mona| 29|         4| 20000|
|   Anshu| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
|    Sana| 23|         2| 18000|
+--------+---+----------+------+

In [65]:
df_pyspark.withColumnRenamed("name","New Name").show()

+--------+---+----------+------+
|New Name|age|Experience|Salary|
+--------+---+----------+------+
|Rachaita| 31|        10| 30000|
|   Minal| 30|         8| 25000|
|    Mona| 29|         4| 20000|
|   Anshu| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
|    Sana| 23|         2| 18000|
+--------+---+----------+------+