PRACTICE - 2
1. PySpark handling missing values
2. Dropping columns 
3. Dropping rows
4. Various parameter in dropping functionalities

In [4]:
from pyspark.sql import SparkSession
import warnings
warnings.filterwarnings('ignore')

In [5]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [6]:
df_pyspark = spark.read.option('header','true').csv("/Users/rachaita/Desktop/Python_Practice/CSV/test2.csv",inferSchema = True)

In [7]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|Rachaita|  31|        10| 30000|
|   Minal|  30|         8| 25000|
|    Mona|  29|         4| 20000|
|   Anshu|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
|    Sana|  23|         2| 18000|
| Monisha|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [8]:
## All the rows where null value is there will bw deleted
df_pyspark.na.drop()

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [9]:
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Rachaita| 31|        10| 30000|
|   Minal| 30|         8| 25000|
|    Mona| 29|         4| 20000|
|   Anshu| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
|    Sana| 23|         2| 18000|
+--------+---+----------+------+

In [11]:
## "how = any" will drop rows if there is any null value
df_pyspark.na.drop(how="any")

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [12]:
df_pyspark.na.drop(how="any").show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Rachaita| 31|        10| 30000|
|   Minal| 30|         8| 25000|
|    Mona| 29|         4| 20000|
|   Anshu| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
|    Sana| 23|         2| 18000|
+--------+---+----------+------+

In [13]:
## "how = all" will drop the rows where all the values are null
df_pyspark.na.drop(how="all")

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [14]:
df_pyspark.na.drop(how="all").show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|Rachaita|  31|        10| 30000|
|   Minal|  30|         8| 25000|
|    Mona|  29|         4| 20000|
|   Anshu|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
|    Sana|  23|         2| 18000|
| Monisha|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [15]:
## Rows will be dropped if atleast thresh = 2 non null values are not present
df_pyspark.na.drop(how="any", thresh=2).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|Rachaita|  31|        10| 30000|
|   Minal|  30|         8| 25000|
|    Mona|  29|         4| 20000|
|   Anshu|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
|    Sana|  23|         2| 18000|
| Monisha|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
+--------+----+----------+------+

In [16]:
## This will remove null values from a specific column
df_pyspark.na.drop(how="any", subset=['Age']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Rachaita| 31|        10| 30000|
|   Minal| 30|         8| 25000|
|    Mona| 29|         4| 20000|
|   Anshu| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
|    Sana| 23|         2| 18000|
|    NULL| 34|        10| 38000|
|    NULL| 36|      NULL|  NULL|
+--------+---+----------+------+

In [27]:
## Replace null with a string. NOTE: It will only replace those columns whose data type is string
df_pyspark.na.fill("Missing Values").show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|      Rachaita|  31|        10| 30000|
|         Minal|  30|         8| 25000|
|          Mona|  29|         4| 20000|
|         Anshu|  24|         3| 20000|
|        Harsha|  21|         1| 15000|
|          Sana|  23|         2| 18000|
|       Monisha|NULL|      NULL| 40000|
|Missing Values|  34|        10| 38000|
|Missing Values|  36|      NULL|  NULL|
+--------------+----+----------+------+

In [28]:
df_pyspark.na.fill(0).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Rachaita| 31|        10| 30000|
|   Minal| 30|         8| 25000|
|    Mona| 29|         4| 20000|
|   Anshu| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
|    Sana| 23|         2| 18000|
| Monisha|  0|         0| 40000|
|    NULL| 34|        10| 38000|
|    NULL| 36|         0|     0|
+--------+---+----------+------+

In [29]:
## Replace missing values with mean with the help of an imputer
from pyspark.ml.feature import Imputer

In [32]:
imputer = Imputer(inputCols=['age','Experience','Salary'], outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salary']]).setStrategy("mean")

In [33]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|Rachaita|  31|        10| 30000|         31|                10|         30000|
|   Minal|  30|         8| 25000|         30|                 8|         25000|
|    Mona|  29|         4| 20000|         29|                 4|         20000|
|   Anshu|  24|         3| 20000|         24|                 3|         20000|
|  Harsha|  21|         1| 15000|         21|                 1|         15000|
|    Sana|  23|         2| 18000|         23|                 2|         18000|
| Monisha|NULL|      NULL| 40000|         28|                 5|         40000|
|    NULL|  34|        10| 38000|         34|                10|         38000|
|    NULL|  36|      NULL|  NULL|         36|                 5|         25750|
+--------+----+----------+------+-----------+------------------+--------------+