1. Filter Operations
2. &, |, ==
3. ~ NOT operation
4. GroupBy and Aggregate functions

In [4]:
from pyspark.sql import SparkSession

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [7]:
df_pypark = spark.read.option("header","true").csv("/Users/rachaita/Desktop/Python_Practice/CSV/test3.csv",inferSchema = True)

In [8]:
df_pypark.show()

+--------+------------+------+
|    Name| Departments|salary|
+--------+------------+------+
|Rachaita|Data Science| 10000|
|Rachaita|         IOT|  5000|
| Monisha|    Big Data|  4000|
|Rachaita|    Big Data|  4000|
| Monisha|Data Science|  3000|
|   Anshu|Data Science| 20000|
|   Anshu|         IOT| 10000|
|   Anshu|    Big Data|  5000|
|    Sana|Data Science| 10000|
|    Sana|    Big Data|  2000|
+--------+------------+------+

In [12]:
df_pypark.filter(df_pypark['salary']<=20000).show()

+--------+------------+------+
|    Name| Departments|salary|
+--------+------------+------+
|Rachaita|Data Science| 10000|
|Rachaita|         IOT|  5000|
| Monisha|    Big Data|  4000|
|Rachaita|    Big Data|  4000|
| Monisha|Data Science|  3000|
|   Anshu|Data Science| 20000|
|   Anshu|         IOT| 10000|
|   Anshu|    Big Data|  5000|
|    Sana|Data Science| 10000|
|    Sana|    Big Data|  2000|
+--------+------------+------+

In [14]:
df_pypark.filter(df_pypark['salary']<=20000).select(['Name']).show()

+--------+
|    Name|
+--------+
|Rachaita|
|Rachaita|
| Monisha|
|Rachaita|
| Monisha|
|   Anshu|
|   Anshu|
|   Anshu|
|    Sana|
|    Sana|
+--------+

In [17]:
df_pypark.filter((df_pypark['salary']<=20000) & (df_pypark['salary']>=10000)).show()

+--------+------------+------+
|    Name| Departments|salary|
+--------+------------+------+
|Rachaita|Data Science| 10000|
|   Anshu|Data Science| 20000|
|   Anshu|         IOT| 10000|
|    Sana|Data Science| 10000|
+--------+------------+------+

In [22]:
df_pypark.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(salary)|
+--------+-----------+
|    Sana|      12000|
| Monisha|       7000|
|   Anshu|      35000|
|Rachaita|      19000|
+--------+-----------+

In [23]:
df_pypark.groupBy('Name').mean().show()

+--------+------------------+
|    Name|       avg(salary)|
+--------+------------------+
|    Sana|            6000.0|
| Monisha|            3500.0|
|   Anshu|11666.666666666666|
|Rachaita| 6333.333333333333|
+--------+------------------+

In [24]:
df_pypark.groupBy('Name').count().show()

+--------+-----+
|    Name|count|
+--------+-----+
|    Sana|    2|
| Monisha|    2|
|   Anshu|    3|
|Rachaita|    3|
+--------+-----+

In [25]:
df_pypark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [26]:
df_pypark.groupBy('Departments').min().show()

+------------+-----------+
| Departments|min(salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       2000|
|Data Science|       3000|
+------------+-----------+

In [27]:
df_pypark.groupBy('Departments').max().show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [28]:
df_pypark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+